@import url(https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Pacifico|Satisfy|johns-icons);
@import url(https://fonts.googleapis.com/css?family=Helvetica|Neue|Helvetica|Arial|sans-serif);
@import '../../node_modules/include-media/dist/_include-media';
@import './base/settings'; // this has all the commonly used spacing sizes and padding we use in multiple locations and it has to be injected before anythign else.
@import './base/_base';
@import './components/Menu';
@import './components/Home';
@import './components/Header';
@import './components/Footer';
@import './components/plp';
@import './components/Pdp';