.c-footer-container {
    padding: 100px 0px 100px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #283038;
    .c-logo {
        padding: 0 30px 30px 30px;
        @include media(">=tablet", "<desktop") {
            width: 100px;
            img {
                width: 120px;
            }
        }
        @include media(">=phone", "<tablet") {
            width: 40%;
            padding: 0;
            img {
                width: 100%
            }
        }
    }
    height: 250px;
    @include media(">=phone", "<tablet") {
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
}

.c-footer-nav-wrapper {
    display: flex;
    width: 40%;
    justify-content: space-around;
    color: $white;
    @include media(">=tablet", "<desktop") {
        width: 50%;
        justify-content: space-evenly;
    }
    @include media(">=phone", "<tablet") {
        flex-direction: column;
        width: 75%;
        align-items: flex-start;
        margin: 17px 0 20px 20px;
    }
    .c-footer-accounts-container,
    .c-footer-help-container {
        width: 33%;
        @include media(">=phone", "<tablet") {
            width: 85%;
            padding-top: 30px;
        }
    }
    .c-footer-nav-title {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid $blue;
        font-weight: 600;
        letter-spacing: 2.6px;
        padding-bottom: 25px;
        margin-bottom: 20px;
        font-size: 1.5em;
        @include media(">=tablet", "<desktop") {
            font-size: 1.25em;
        }
    }
    .c-footer-nave-item-container {
        display: flex;
        flex-direction: column;
        .c-footer-nave-item {
            margin: 0;
            padding: 0;
            font-weight: 100;
            letter-spacing: 2.6px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 1em;
            @include media(">=tablet", "<desktop") {
                font-size: 0.8em;
            }
        }
    }
}

.c-footer-contact-us-form {
    background: #ed5362;
    width: 14%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    height: 108%;
    @include media(">=tablet", "<desktop") {
        width: 25%;
        margin-right: 20px;
    }
    @include media(">=phone", "<tablet") {
        width: 60%;
        margin-top: 30px;
        height: 320px;
    }
    .c-footer-contact-us-title {
        font-size: 2.3em;
        font-weight: 600;
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
    }
    input {
        // width: 100%;
        max-width: 100%;
        background-color: aliceblue;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 7px;
    }
    .c-footer-contact-us-item-container {
        display: flex;
        flex-direction: column;
         :first-child {
            margin-bottom: 23px;
        }
    }
    .c-footer-contact-us-button {
        padding: 10px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        margin-top: 15px;
        border-radius: 7px;
        cursor: pointer;
        opacity: 1;
        transition: 1s opacity ease-in-out;
        &:hover {
            transition: 1s opacity ease-in-out;
            opacity: 0.6;
        }
    }
}