.home-wrapper {
    // background-color: $gray-light;
    color: $font-color-body;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(0px);
    transition: all 1s cubic-bezier(.17, .67, .35, 1);
    -webkit-animation: fadein 1.9s ease-in;
    -moz-animation: fadein 1.9s ease-in;
    -o-animation: fadein 1.9s ease-in;
    animation: fadein 1.9s ease-in;
    >:not(:first-child) {
        padding-top: 20px;
        width: 100%;
    }
    >:last-child {
        margin-bottom: 50px;
    }
}

// .promo-wrapper {}
.small-promo-wrapper {}