// plp stands for products listing page 
.c-plp-container {
    display: flex;
    min-width: 100%;
    @include media('<tablet') {
        flex-direction: column
    }
}

.c-plp-products_wrapper {
    width: 70%;
    min-width: 70%;
    padding-left: 7%;
    padding-top: 3%;
    @include media('<tablet') {
        width: 100%;
        padding-left: 0;
    }
}

.c-plp-products-container {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .c-plp-product-container {
        width: 18%;
        padding: 15px 20px;
        @include media('<tablet') {
            width: 35%;
        }
    }
}

.c-plp-product-image {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding-bottom: 15px;
    opacity: 1;
    cursor: pointer;
    transition: 350ms opacity ease-in-out;
    &:hover {
        transition: 350ms opacity ease-in-out;
        opacity: 0.5;
    }
    .c-plp-product-image_source {
        width: 100%;
    }
}

.c-plp-product-title {
    padding-bottom: 5px;
    white-space: nowrap;
}

.c-plp-product-tags_container {
    display: flex;
    flex-wrap: wrap;
    p {
        margin: 1px;
        background: #6d6d6d;
        border-radius: 4px;
        padding: 5px;
        color: white;
        white-space: nowrap;
    }
}